    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Orbitron&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Orbitron&family=Source+Code+Pro:wght@500&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Montserrat:wght@500&family=Orbitron&family=Source+Code+Pro:wght@500&display=swap');
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        background-color: #222222;
    }
    
    html {
        font-family: "Montserrat", sans-serif;
        scroll-behavior: smooth;
    }
    
    .logo {
        width: 100px;
    }
    
    li,
    a,
    button {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #ffffff;
        text-decoration: none;
    }
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 10%;
    }
    
    .logo {
        cursor: pointer;
    }
    
    .nav__links li {
        display: inline-block;
        padding: 0 20px;
    }
    
    .nav__links li a {
        transition: all 0.3s ease 0s;
    }
    
    .nav__links li a:hover {
        color: #0088a9;
    }
    
    button {
        padding: 9px 25px;
        background-color: rgb(0, 255, 21, 1);
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }
    
    button:hover {
        background-color: rgba(0, 255, 21, 0.5);
    }
    
    h1 {
        color: white;
        font-family: 'Anonymous Pro', monospace;
        align-items: center;
    }
    
    .line {
        position: relative;
        top: 50%;
        width: 18em;
        margin: 0 auto;
        border-right: 2px solid rgba(255, 255, 255, 0.75);
        font-size: 180%;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        margin: 200px;
        transform: translateY(-50%);
    }
    
    .section {
        padding: 20px;
        margin: -200px 500px 10px 180px;
        border-radius: 10px;
        border: none;
        color: white;
        font-family: "Montserrat", sans-serif;
        opacity: 0;
        transform: translateY(3rem);
        animation: fadeInUp 2s 5s ease forwards;
    }
    
    .btn {
        margin: 0px 200px;
        opacity: 0;
        transform: translateY(3rem);
        animation: fadeInUp 2s 5s ease forwards;
    }
    
    .anime-typewriter {
        animation: typewriter 3s steps(24) 1s 1 normal both, BlinkTextCursor 500ms steps(24) infinite normal;
    }
    
    .banner {
        width: 399px;
        margin: 0px 0 0 0px;
    }
    
    .container {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(auto-rift, minmax(250px, 1fr));
        grid-gap: 0px;
        display: flex;
        opacity: 0;
        transform: translateY(3rem);
        animation: fadeInUp 2s 5s ease forwards;
    }
    
    .box {
        height: 400px;
        margin: 200px 0 0 350px;
        background-color: #222222;
        position: relative;
        box-shadow: 0 1px 3px 0 #000000;
    }
    
    .box:hover {
        box-shadow: 0 2px 6px 0 #000000;
    }
    
    #sec-1 {
        background-color: #222222;
    }
    
    #sec-2 {
        background-color: #222222;
        padding: 500px;
    }
    
    #sec-3 {
        background-color: #222222;
        padding: 550px;
    }
    
    #sec-4 {
        background-color: #222222;
    }
    
    #sec-5 {
        background-color: #222222;
        padding: 500px;
    }
    
    #sec-7 {
        background: #222222;
    }
    
    .scroll-down {
        margin: 0 0 0 -10px;
        height: 50px;
        width: 30px;
        border: 2px solid white;
        position: absolute;
        left: 50%;
        bottom: 20px;
        background-color: #222222;
        border-radius: 50px;
        cursor: pointer;
    }
    
    .scroll-down::before,
    .scroll-down::after {
        content: "";
        position: absolute;
        top: 20%;
        left: 50%;
        border: 2px solid white;
        height: 10px;
        width: 10px;
        transform: translate(-50%, -100%) rotate(45deg);
        border-top: transparent;
        border-left: transparent;
        animation: scroll-down 1s ease-in-out infinite;
    }
    
    .history {
        margin: 0 0 0 140px;
    }
    
    h2 {
        background-color: #222222;
        color: green;
        position: absolute;
        text-align: center;
    }
    
    #sec-2 img {
        float: left;
        width: 650px;
        margin: 0 0 0 -400px;
    }
    
    #sec-2 p {
        color: white;
        margin: 0px -400px 0 300px;
        padding: 0px 0 0 0px;
    }
    
    #sec-2 h1 {
        padding: -10px;
        margin: -28px 0 0 750px;
    }
    
    #sec-3 h1 {
        margin: -600px 0 0 -200px;
        color: white;
    }
    
    #sec-3 p {
        margin: 0px 300px 0 -400px;
        color: white;
    }
    
    #afbeelding {
        width: 650px;
        float: right;
        margin: -1300px 0 0 100px;
    }
    
    .scroll-down::after {
        top: 30%;
        animation-delay: 0.3s
    }
    
    iframe {
        position: absolute;
        margin: 500px 0 0 -1000px;
    }
    
    .thumbnail {
        margin: 0px 0 0 100px;
    }
    
    .thumbnail-2 {
        margin: 0px 0 0 100px;
    }
    
    .cute {
        margin: 470px 0 0 -1000px;
    }
    
    .cute-2 {
        margin: -80px 0 0 -50px;
    }
    
    .explanation {
        color: white;
        margin: 650px 0 0 -50px;
    }
    
    form {
        border-radius: 10px;
        background-color: #222222;
        margin: -100px 0 0 200px;
        color: white;
    }
    
    form .text {
        border: 2px solid #222222;
        box-shadow: 0 1px 3px 0 #000000;
    }
    
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    
    ul {
        list-style: none;
    }
    
    .footer {
        background-color: #222222;
        padding: 70px 0;
    }
    
    .container-4 {
        height: 400px;
        margin: -200px 0 0 0;
    }
    
    .container-5 {
        height: 400px;
        margin: 1500px 0 0 -1750px;
    }
    
    .intro {
        margin: 0 0 0 180px;
    }
    
    ol {
        padding: 40px 0 0 0;
        margin: 0 0 0 200px;
    }
    
    .burger {
        display: none;
    }
    
    .burger div {
        width: 25px;
        height: 5px;
        background-color: rgba(226, 266, 266);
        margin: 5px;
    }
    
    .footer-col {
        width: 25%;
        padding: 0 15px;
    }
    
    .footer-col-2 {
        width: 25%;
        padding: 0 5px;
    }
    
    .footer-col h4 {
        font-size: 18px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
    }
    
    .footer-col h4::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        background-color: rgb(0, 255, 21, 1);
        height: 2px;
        box-sizing: border-box;
        width: 50px;
    }
    
    .footer-col ul li:not(:last-child) {
        margin-bottom: 10px;
    }
    
    .footer-col ul li a {
        font-size: 16px;
        text-transform: capitalize;
        color: #ffffff;
        text-decoration: none;
        font-weight: 300;
        color: #bbbbbb;
        display: block;
        transition: all 0.3s ease;
    }
    
    .footer-col ul li a:hover {
        color: #ffffff;
        padding-left: 8px;
    }
    
    .footer-col .social-links a {
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba(255, 255, 255, 0.2);
        margin: 0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #ffffff;
        transition: all 0.5s ease;
    }
    
    .footer-col .social-links a:hover {
        color: #4d4b4b;
        background-color: #ffffff;
    }
    
    .footer-col-2 {
        width: 25%;
        padding: 0 5px;
    }
    
    .footer-col-2 h4 {
        font-size: 18px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
    }
    
    .footer-col-2 h4::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        background-color: rgb(0, 255, 21, 1);
        height: 2px;
        box-sizing: border-box;
        width: 50px;
    }
    
    .footer-col-2 ul li:not(:last-child) {
        margin-bottom: 10px;
    }
    
    .footer-col-2 ul li a {
        font-size: 16px;
        text-transform: capitalize;
        color: #ffffff;
        text-decoration: none;
        font-weight: 300;
        color: #bbbbbb;
        display: block;
        transition: all 0.3s ease;
    }
    
    .footer-col-2 ul li a:hover {
        color: #ffffff;
        padding-left: 8px;
    }
    
    .footer-col-2 .social-links a {
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba(255, 255, 255, 0.2);
        margin: 0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #ffffff;
        transition: all 0.5s ease;
    }
    
    .footer-col-2 .social-links a:hover {
        color: #4d4b4b;
        background-color: #ffffff;
    }
    
    .footer-col-3 {
        width: 25%;
        padding: 0 5px;
    }
    
    .footer-col-3 h4 {
        font-size: 18px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
    }
    
    .footer-col-3 h4::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        background-color: rgb(0, 255, 21, 1);
        height: 2px;
        box-sizing: border-box;
        width: 50px;
    }
    
    .footer-col-3 ul li:not(:last-child) {
        margin-bottom: 10px;
    }
    
    .footer-col-3 ul li a {
        font-size: 16px;
        text-transform: capitalize;
        color: #ffffff;
        text-decoration: none;
        font-weight: 300;
        color: #bbbbbb;
        display: block;
        transition: all 0.3s ease;
    }
    
    .footer-col-3 ul li a:hover {
        color: #ffffff;
        padding-left: 8px;
    }
    
    .footer-col-3 .social-links a {
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba(255, 255, 255, 0.2);
        margin: 0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #ffffff;
        transition: all 0.5s ease;
    }
    
    .footer-col-3 .social-links a:hover {
        color: #4d4b4b;
        background-color: #ffffff;
    }
    /*responsive*/
    
    @media screen and (max-width: 500px) {
        img {
            width: 50px;
        }
        .line {
            margin: 100px 0 0 0;
        }
        .section {
            flex-direction: column;
            margin: 0px 100px 0 0;
            align-items: center;
        }
        header {
            font-size: 0.3em;
            margin: 0 0 0 -40px;
        }
        article {
            font-size: 0.5em;
        }
    }
    
    @media screen and (max-width: 900px) {
        .line {
            margin: 100px 0 0 0;
        }
        .section {
            flex-direction: column;
            margin: 0px 0 0px 0px;
        }
    }
    /*animation*/
    
    @keyframes scroll-down {
        0% {
            opacity: 0;
        }
        30% {
            opacity: 1;
        }
        60% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            top: 90%;
        }
    }
    
    @keyframes typewriter {
        from {
            width: 0;
        }
        to {
            width: 8em;
        }
    }
    
    @keyframes blinkTextCursor {
        from {
            border-right-color: rgba(255, 255, 255, 0.75);
        }
        to {
            border-right-color: transparent;
        }
    }
    
    @keyframes fadeInUp {
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }